body {
	background-color: #0f121f;
	/* background-image: url(/static/stars.png); */
	color: #fff;
}

body * {
	font-family: Ubuntu;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	margin: 0;
}

a,
a:hover,
a:visited {
	color: #fff;
	text-decoration: none;
}

.dimg{
	height: 60vh;
	width: 100vw;
}
