<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Articles</title>
		<link rel="stylesheet" href="/static/styles.css" />
	</head>
	<body>
		<div class="wrapper">
			<!-- <h1><a href="{} "></a></h1> -->
			<h1><a href="">Articate</a></h1>
			<nav>
				<ul>
					<li>
						<form class="logiut-link" action="{% url 'accounts:logout' %}" method="POST">
							{% csrf_token %}
							<button type="submit">Logout</button>
						</form>
					</li>
				</ul>
			</nav>
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
